    body {
        font-size: 0.8rem;
        font-family: "universlt55", Verdana, serif;
        -webkit-print-color-adjust: exact;
    }

    a:link {
        text-decoration: none;
        color: #000;
    }

    a:visited {
        text-decoration: none;
        color: #000;
    }

    a:hover {
        text-decoration: underline;
        color: #000;
    }

    a:active {
        text-decoration: underline;
        color: #000;
    }

    .selected {
        text-decoration: underline !important;
    }

    .nav {
        position: relative;
        float: left;
        padding-right: 5mm;
        max-width: 30%;
    }

    .wrapper {
        height: 277mm;
        width: 190mm;
        border: 1px solid black;
        margin-left: 5mm;
        position: relative;
        float: left;
    }

    h1, h2, h3 {
        font-family: "agilohandwriting", Verdana, serif;
    }

    h1, h2 {
            background-color: #008000;
        color: white;
        text-align: center;
        text-transform: uppercase;
        padding: 10mm 0 9mm 0;
        font-size: 30pt;

    }

    h2 {
        position: absolute;
        top: 3%;
        width: 100%;
        border-bottom: 5px solid #fff;
        border-top: 5px solid #fff;
        margin: 0;
    }

    h3 {
        color: #008000;
        font-size: 14pt;
    }

    .platzhalter {
        width: 100%;
        height: 150px;
        background-color:#fff;
    }

    .nav ul, .search {
        padding: 0 10px 15px 35px;
        margin: 0;
        list-style-type: none;
        font-weight: 400;
        font-size: 0.8rem;
    }


    .nav > ul > li > ul {
        padding-left: 35px;
        text-align: left;
    }

    .navoption-hide {
        display: none;
    }

    .nav-ul {
        border: 1px solid #ffffe6;
        box-shadow: 5px 5px 10px #bababa;
        border-radius: 10px;
        color: #008000;
        font-size: 1.5rem;
        padding: 15px 10px 5px 15px;
        margin: 15px 10px;
        background-color:#ffffe6;
        li {
            padding: 8px 0 0 0;
            }
        li:first-of-type {
            padding-top: 15px;
        }
        
    }

    .left ul {
    padding: 0 15px 15px;
    }

    .right ul {
    padding: 0 10px 10px 18px;
    margin: 0;
    list-style-type: disc;
    }

    .blog {
        padding: 10px 50px 20px 50px;
        font-size: 11pt;
        line-height: 20px;
    }

    @font-face {
        font-family: "agilohandwriting";
        src: url(fonts/agilohandwriting.ttf) format("truetype");
    }

    @font-face {
        font-family: "universlt55";
        src: url(fonts/universltstd.otf) format("opentype");
    }

    .left, .right {
        position: relative;
        float: left;
        overflow: hidden;
        li {
            padding-bottom: 5px;
        }
    }

    .left {
        width: 50%;
        padding: 4mm 10mm 0 10mm;
        li {
            padding-bottom: 10px;
        }
        
    }

    .right {
        width: 33%;
        margin: 4mm 10mm 0 0;
    }

    .right h3 {
        padding: 0 5mm 0 5mm;
    }

    .boxed {
        border: 1px solid #ffffe6;
        box-shadow: 5px 5px 10px #bababa;
        border-radius: 10px;
        background-color: #ffffe6;
        li {
            list-style-type: none;
            padding: 5px 0 0 0;
            margin: 0;
        }
        li:last-of-type {
            padding: 5px 0 10px 0;
        }
    }

    @media print {

.nav {
    display: none;
}

h1 {
    display: none;
}

h2 {
    background-color: #000;
    margin: 0 auto 0;
}

h3 {
    color: #000;
}

.wrapper {
    margin: 0;
    padding: 0;
    border: none;
    height: 277mm;
    width: 210mm;
}

html {
    height: 277mm;
    width: 210mm;
}

body {
    height: 277mm;
    width: 210mm;
}

.boxed {
    border: 1px solid #000;
    box-shadow: none;
    border-radius: none;
    background-color: #fff;

}

img {
    display: none;
}

.wrapper::before {
    content: "";
    display: block;
    height: 150px;
    width: 100%;
}

.platzhalter {
    display:none;
}


}