<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8"/>
	<title>RecipieBook</title>
	<link rel="stylesheet" href="static/normal.css"/>
	<link rel="stylesheet" href="static/style.css"/>
	<script type="text/javascript" src="static/scripts/master.js"></script>
	<link rel="icon" href="static/favicon.ico" type="image/x-icon" /> 
</head>
<body>
	<h1>Rezepte</h1>
	<div class="nav">
		{%- set types = [] -%}
		{%- for name, value in data.recipies.items() -%}
		{%- do types.append(value.type) -%}
		{%- endfor -%}

		<div class="search">
			<input type="text" id="searchbox" placeholder="Suche"/>
		</div>

		{%- for type in types|unique|sort %}
		<div class="nav-ul">
			<caption>{{ type }}</caption>
			<ul>
				{%- for name, value in data.recipies.items()|sort -%}
				{%- if value.type == type %}
				<li><a class="navoption {%- if itemdata and itemdata.name == value.name %} selected{% endif %}" href='{{ name }}.html'>{{ value.name }}</a></li>
				{%- endif -%}
				{%- endfor -%}
			</ul>
		</div>
		{%- endfor -%}	
		{%- if data.blog -%}
		<hr>
		<div>
			<caption>Blog</caption>
			<ul>
				{%- for name, value in data.blog.items()|sort %}
				<li><a class="navoption {%- if itemdata and itemdata.name == value.name %} selected{% endif %}" href='{{ name }}.html'>{{ value.name }}</a></li>
				{%- endfor -%}
			</ul>
		</div>
		{%- endif -%}

	</div>
	
	{%- if itemdata -%}
	<div class="wrapper">
		{%- block content -%}{%- endblock -%}
	</div>
	{%- endif %}
</body>
</html>
