<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<title>RecipieBook</title>
	<link rel="stylesheet" href="static/normal.css">
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<h1>Rezepte</h1>
	<div class="nav">

		{% set types = [] %}
		{% for name, value in data.recipies.items() %}
		{% do types.append(value.type) %}
		{% endfor %}
		<ul>
			{% for type in types|unique|sort %}
			<li>
				<caption>{{ type }}</caption>
				<ul>
					{% for name, value in data.recipies.items()|sort %}
					{% if value.type == type %}
					<li><a {% if itemdata and itemdata.name == value.name %}class="selected"{% endif %}href='{{ name }}.html'>{{ value.name }}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</li>
			{% endfor %}	
			{% if data.blog %}
			<li>
				<caption>Blog</caption>
				<ul>
					{% for name, value in data.blog.items()|sort %}
					<li><a {% if itemdata and itemdata.name == value.name %}class="selected"{% endif %}href='{{ name }}.html'>{{ value.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
			{% endif %}
		</ul>

	</div>
	
	{% if itemdata %}
	<div class="wrapper">
		{% block content %}{% endblock %}
	</div>
	{% endif %}
</body>
</html>
