{%- extends "master.html" -%}
{%- block content -%}
{%- if itemdata.img %}
	<img src="{{ itemdata.img }}" width=100%>
{% else %}
<div class="platzhalter"></div>
{% endif -%}

<h2>{{itemdata.name}}</h2>
<div class="left">
	{%- if itemdata.amount %}
		{{ itemdata.amount }}
	{% endif -%}

	{%- for step in itemdata.recipie %}
	<h3>{{ step.name }}</h3>
	<ul>
		{%- for substep in step.steps %}
		<li>{{ substep }}</li>
		{%- endfor -%}
	</ul>
	{%- endfor -%}

</div>
<div class="right boxed">
	<h3>Einkaufszeddele</h3>
	<ul>
		{%- for item in itemdata.ingredients %}
		<li>{{ item }}</li>
		{%- endfor %}
	</ul>
</div>
{% endblock -%}